<!DOCTYPE html>
<html>
  <head>
    <title>iTube</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application.js' %>
<% if logged_in? %>
  <script>
    window.currentUser = {
      "id": <%= current_user.id %>,
      "username": "<%= current_user.username %>",
      "channel_id": <%= current_user.id %> 
    };
  </script>
<% end %>
  </head>
    
  <body style="background-color:#FAFAFA">
    
    <%= yield %>
  </body>
</html>
